:root {
    --heart: "M150 43.4375C125.138 -24.05 0 -14.025 0 88.0375C0 138.887 38.25 206.55 150 275.5C261.75 206.55 300 138.887 300 88.0375C300 -13.4375 175 -24.45 150 43.4375V43.4375Z";
}

body {
    position: relative;
    background: #000000;
}

canvas#canvas {
    display: block;
    position: absolute;
    height: 98vh;
    width: 100%;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}

a:link {
    color: rgb(242, 0, 68);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(242, 0, 68);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: rgb(255, 57, 113);
    background-color: transparent;
}

.container {
    margin: 0;
    padding: 0;
    max-height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-container {
    filter: drop-shadow(-5px 50px 90px rgba(242, 0, 68, 1)) blur(0.5px);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    height: 300px;
    width: 300px;
    animation: heart 1.6s linear infinite;
    clip-path: path(var(--heart));

}

img {
    height: 300px;
}

.swiper {
    width: 100%;
    height: 100vh;
}

@keyframes heart {
    0% {
        transform: scale(2.5);
    }

    50% {
        transform: scale(2.3);
    }

    80% {
        transform: scale(2.4);
    }

    100% {
        transform: scale(2.5);
    }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes heart {
        0% {
            transform: scale(1.8);
        }

        50% {
            transform: scale(1.6);
        }

        80% {
            transform: scale(1.7);
        }

        100% {
            transform: scale(1.8);
        }
    }
}

@media screen and (max-width: 600px) and (min-width: 380px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes heart {
        0% {
            transform: scale(1.3);
        }

        50% {
            transform: scale(1.1);
        }

        80% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1.3);
        }
    }
}

@media screen and (max-width: 379px)  {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes heart {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.8);
        }

        80% {
            transform: scale(0.9);
        }

        100% {
            transform: scale(1);
        }
    }
}